@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body,
ul {
  margin: 0;
  font-family: "Playfair Display", serif;
}
nav {
  background: rgb(8, 8, 32, 0.8);
  width: 50%;
  margin: 0px auto;
  position: relative;
  top: 10px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/background.jpg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 20px 20px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 7px 15px;
  margin: 0px auto;
  font-size: 28x;
}

header h1 {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 160px;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
header p {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  width: 27%;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
button {
  background: rgb(8, 8, 32);
  color: rgb(240, 240, 240);
  text-transform: uppercase;
  outline: none;
  border: none;
  margin: 28px auto;
  margin-bottom: 200px;
  width: 10%;
  padding: 13px;
  border-radius: 12px;
  text-align: center;
}
button a {
    text-decoration: none;
    color: whitesmoke;
}
button i {
  color: #745cbc;
}
#categories {
  padding: 40px;
  text-align: center;
  vertical-align: top;
}
#categories h2 {
  text-align: center;
  font-weight: bold;
}
#first-row article,
#second-row article {
  width: 30%;
  display: inline-block;
  text-align: left;
  margin: 20px;
}
#categories h3 i {
  margin-left: -46px;
  padding: 11px;
  background: #080820;
  color: white;
  border-radius: 50%;
}

#middle-section {
  background-image: url("./images/middle.png");
  background-size: cover;
}
#middle-section p {
  width: 30%;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);
  color: rgb(241, 234, 220);
  font-weight: bold;
  font-size: 20px;
  padding: 25px 0;
}

#why-movies {
  background-image: linear-gradient(
      to bottom,
      rgba(37, 38, 44, 0.52),
      rgba(11, 29, 49, 0.73)
    ),
    url("./images/why.jpg");
  background-size: cover;
  text-align: center;
}
#why-movies h1 {
  margin-top: 0;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 35px;
}
#why-movies article {
  display: inline-block;
  width: 28%;
  /* margin: 0 auto; */
  border: 2px solid #ac9d73;
  padding: 18px;
  vertical-align: top;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);
  color: rgb(245, 234, 214);
  height: 200px;
  margin: 20px;
  margin-bottom: 20px;
}
#why-movies article p {
  text-align: left;
}

footer {
    background: #080820;
    color: white;
    padding: 50px;
}

footer article {
    width: 30%;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
#social {
    margin-left: 15px;
}
#social i{
    background: #83838F;
    color: #080820;
    border-radius: 50%;
    margin: 8px;
    padding: 15px;
}

footer div {
    width: 20%;
    display: inline-block;
    vertical-align: top;

}
footer div a {
    color: wheat;
    text-decoration: none;
}
.leo {
    position: relative;
    width: 100px;
    height: 80px;
}
.warner {
    position: relative;
    width: 100px;
    height: 80px;
}
.marvel {
    position: relative;
    width: 100px;
    height: 80px;
}
.disney {
    position: relative;
    width: 100px;
    height: 80px;   
}